:root {
    --yellow: #e9ff70;
    --orange: #ffd670;
    --salmon: #ff9770;
    --pink: #ff70a6;
    --blue: #70d6ff;
    --dark-yellow: #8f9467;
    --yellow-white: #fafbe9;
    --yellow-black: #1b3d2f;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Courier New", Courier, monospace;
}

html {
    box-sizing: border-box;
}

body {
    background-color: var(--yellow);
    display: flex;
    padding: 24px;
}

.portfolio,
.blog {
    text-align: center;
}

.container {
    background-color: var(--yellow-white);
    border-radius: 16px;
    padding: 32px;
    margin: 32px;
    text-align: left;
    box-shadow: 10px 10px 0 var(--yellow-black);
}

.portfolio {
    flex: 0.3;
}

.blog {
    flex: 0.7;
}

p {
    display: inline;
    font-size: 18px;
}

h1 {
    font-size: 48px;
    color: var(--yellow-white);
    text-shadow: 2px 2px var(--yellow-black);
}

h3 {
    font-size: 24px;
    margin-bottom: 8px;
}

h5 {
    font-size: 20px;
    margin: 8px;
}

.days {
    background-color: var(--yellow-white);
    border-radius: 16px;
    padding: 32px;
    margin: 32px;
    box-shadow: 10px 10px 0 var(--yellow-black);
}

.what {
    font-weight: bold;
}

.next-btn {
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    background-color: #1b3d2f;
    color: white;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 16px;
}

.next-btn:hover {
    background-color: #255340;
}
